* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: monospace;
  text-align: center;
}


.quoteBtn{
    font-size: 26px ;
}

.header{
    font-size: 62px ;
}
.subHeader{
    font-size: 30px ;
}

.quoteHeader{
    font-size: 32px ; 
}

.subContent{
    font-size: 20px ;
}